extends templates/layout

mixin service(long_name) 
    .catergory__service.service 
        .service__desc
            .service__name 
                - if (long_name)
                    | Очень длинное название услуги в несколько строк
                - else 
                    | Название услуги
            .service__price 3500 Р
        button.service__button.button.button_primary(type="button" data-service-name="service-name") #[span Записаться]

mixin category(active, index) 
    .prices-section__category.category(
        class=active && "prices-section__category_active"
        data-category=index
    )
        .category__name Название категории
        .category__services
            - for (var i = 0; i < 10; i++)
                - var long_name = i == 0 ? true : false
                +service(long_name)

block head
    title Страница цен
    link(rel="stylesheet", href="css/style.min.css")
block content 
    .page
        nav.page__nav
            .container
                a.page__back-button(href="#") 
                    .icon-arrow-backwards 
                    span Назад
                ol.page__breadcrumbs.breadcrumbs
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="./") Главная
                    li.breadcrumbs__item 
                        a.breadcrumbs__link(href="#") Цены 
        .page__header
            .container 
                h1.page__title Цены
        section.prices-section.section 
            .container
                .section__header 
                    h2.section__title Стоимость услуг
                .prices-section__body.section__body 
                    nav.prices-section__nav 
                        - for (var i = 0; i < 10; i++)
                            button.prices-section__category-button(
                                type="button" 
                                class= i==0 && "prices-section__category-button_active"
                                data-category=i
                            ) Название категории
                    .prices-section__categories
                        - for (var i = 0; i < 10; i++)
                            - var active = i == 0 ? true : false
                            +category(active, i)

        include ./includes/contacts-section
block prepend scripts 
    script(src="js/libs/locomotive-scroll.min.js") 